<div class="col">
    <div class="card rounded-3 statistics mt-3 shadow-sm">
        <div class="card-header py-3">
            <h4>Statistics</h4>
        </div>
        <div>
            <div class="statistics">
                Total devices:
                <span class="machinecounter">@MachineCounter</span>
            </div>
            <div class="statistics">
                Devices online:
                <span class="onlinecounter">@OnlineCounter</span>
            </div>
        </div>
    </div>
</div>
